<div class="splash">
 <div class="l-box">
  <h2>Shopping Cart</h2>
 </div>
</div>
    <div class="content">
        <div class="pure-g-r">
            <div class="pure-u-3-4 l-box">

            <!-- items -->
            <table class="pure-table pure-table-horizontal">

                <!-- header -->
                <thead>
                    <th><b>Item</b></td>
                    <th class="thCenter"><b>Quantity</b></td>
                    <th class="thCenter"><b>Price</b></td>
                    <th class="thCenter"><b>Remove</b></td>
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'">
                    <td>{{item.name}}</td>
                    <td class="tdCenter">
                        <form class="pure-form">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input
                            class="pure-input-3-4" type="text"
                            ng-model="item.quantity" 
                            ng-change="cart.saveItems()" />
                        <button 
                            class="pure-button primary-button" type="button" 
                            ng-disabled="item.quantity >= 10"
                            ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                        <button 
                            class="pure-button secondary-button" type="button" 
                            ng-disabled="item.quantity <= 1"
                            ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                    </form>

                    </td>
                    <td class="tdCenter">{{item.price * item.quantity | currency:"£"}}</td>
                    <td class="tdCenter" title="Remove from Cart">
                        <a class="pure-button tertiary-button" href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
                            <i class="fa-trash-o"> </i>x
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td class="tdRight"><b>{{cart.getTotalPrice() | currency:"£"}}</b></td>
                    <td />
                </tr>
            </table>
        </div>


        <!-- buttons -->
            <div class="pure-u-1-4 l-box">
                <button 
                    class="pure-button secondary-button" 
                    style="display: block; width: 100%;"
                    onclick="window.location.href='default.htm'">
                    <i class="icon-chevron-left" /> Back to Shop
                </button>
            <br />
                <button 
                    class="pure-button tertiary-button" 
                    style="display: block; width: 100%;"
                    ng-click="cart.clearItems()" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <i class="icon-trash icon-white" /> Empty Cart
                </button>

            <br /><br />

<!--                 <button
                    class="btn btn-block btn-primary"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using PayPal
                </button><br>
                <button 
                    class="btn btn-block btn-primary" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> check out using Google
                </button><br> -->
                <button 
                    class="pure-button primary-button" 
                    style="display: block; width: 100%;"
                    ng-click="cart.checkout('Stripe')" 
                    ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-ok icon-white" /> Pay Now
                </button>

                <!-- Stripe needs a form to post to -->
                <form class="form-stripe"></form>


<!--            <p class="text-info">
                <button 
                    class="btn btn-block btn-link"
                    ng-click="cart.checkout('PayPal')"
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" alt="checkout PayPal"/>
                </button>    
                <button 
                    class="btn btn-block btn-link" 
                    ng-click="cart.checkout('Google')" 
                    ng-disabled="cart.getTotalCount() < 1" >
                    <img src="https://checkout.google.com/buttons/checkout.gif?w=168&h=44&style=white&variant=text" alt="checkoutGoogle"/>
                </button>    
            </p> -->
        </div>
    </div>

    <div class="ribbon l-box">
Free UK Delivery. Please add international delivery charge from shop for all delivery addresses outside mainland UK.
    </div>
</div>
